/*Add your CSS*/

body{
	/*color:#DA883A;*/
	color: #940030;
	font-weight: bolder;
	font-family: Raleway;
	/*margin: 0 auto;
	background-color: #2B2B2B;*/
	background-color: #FFCA5C
}

#splash{
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#splash{
	background-color: #FFCA5C;
}

.logo{
	height: 80px;
	width: auto;
	margin-right: 10px;
}

#main{
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.title{
		display: flex;
		align-items: center;
		margin: 20px;
}

.logo-main{
	height: 40px;
	margin-right: 10px;
}

#map{
	display: flex;
	height: 400px;
	width: 500px;
	border: solid white;
	margin: 5px;
}

h1 {
	border: 40px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
}

input{
	border-radius: 5px
	margin: 10px;
}

.search{
	width: : 100%
}

button {
	height: 25px;
	width: 80px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #DA883A;
	border: none;
}

.images-container {
	height: 300px;
	width: 500px;
	display: flex;
	color: white;
	justify-content: center;
  flex-wrap: wrap;

}

.images {
	height: 150px;
	width: 150px;
	padding: 10px;
	cursor: pointer;
}
